html {
    font-size: 62.5%;
}
body {
    background-color: #f4d298;
    color: black;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}
/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}

.headContent {
    padding-top: 0;
    font-weight:900; 
    background-color: #c58334;
}
hr{
    margin-top: 4px;
    margin-bottom: 4px;
}
.left {
    float: left;
    
}
.borderB{
	border: 2px solid black;

}
.smallcard{
    border: 1px solid black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /*width: 90%;*/
    /*height: 11em;*/
    /*border: 4px solid #2018c1;*/
    word-wrap: break-word;

    border-radius: 10px;
    padding: 5px; 
    color: black;
    background-color: #ea9bd7;
    height:30px;
    margin-top: 3px;
    /*font-weight: 800;
    font-size: large;*/
}
.w3-light-grey, .w3-hover-light-grey:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
    /*border-left: thick solid #ff0000;*/
}
.ScrollStyle
{
    max-height: 650px;
    /*width:100%;*/
    overflow-y: scroll;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 27%;
    border-radius: 10px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px
    
}
div.fixed {
    position: fixed;
    background-color: #b93598;
    bottom: 0;
    /*right: 0;*/
    width: 100%;
    height: 40px
}

.test2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /*width: 90%;*/
    /*height: 11em;*/
    /*border: 2px solid #2018c1;*/
    word-wrap: break-word;

    border-radius: 10px;
    background: #dfedd6;
    background-color: #9e0505;
    padding: 5px; 
    color: #969292;
    height:40px;
    margin-top:10px;
    /*margin-bottom:10px;*/
    /*font-weight: 800;
    font-size: large;*/
}
.box{
    border-radius: 5px;
    /*background: #3a4363;*/
    padding: 10px; 
    width: 50px;
    color: white;
    height: 30px;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*img {
    border-radius: 5px 5px 0 0;
}*/

.container {
    padding: 2px 16px;
}
.maincontent{
  /*background-color:#eaeaea;*/
}

